@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    font-family: 'Roboto';
    overflow-x: hidden;
}

.login-trigger {
  font-weight: bold;
  color: #fff;
  background-color: #2e3d4e;
  padding-left: 10px;
  position: relative;
  font-size: 18px;
}

.close {
  color: #fff;
  transform: scale(1.2);
}
.modal-content {
  background: rgba(255, 255, 255, 0);
  width: 700px;
}

.modal-body {
  position: relative;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 0px;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  background-image: url("../images/loginback.jpg");
  object-fit: cover;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.modal-dialog {
  margin-top: 6rem;
}

.modal-content {
  border: none;
}
/* 
.main{    
    display: flex;
    border: 1px solid red;
    word-wrap: break-word;

} */

.header {
  overflow: hidden;
  background-color: #f55f5f;
  /* display: flex; */
  align-items: center;
  padding-left: 10rem;
}

.header a {
  float: right;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: right;
}

.overlay-container {
  background-image: url("./loginback.jpg");
}

.title {
  color: #fff;
  font-family: magneto;
}

.sign-in-btn {
  color: #fff;
  background-color: #2e3d4e;
}

.banner {
  height: 550px;
  width: 100%;
  object-fit: cover;
}

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0em;
}
.menu li {
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}
.menu li a {
  display: block;
  padding: 0 25px;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.menu li a:hover {
  text-decoration: none;
}
.menu li ul.dropdown {
  min-width: 100%;
  background: #ffffff;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}
.menu li:hover ul.dropdown {
  display: block;
}
.menu li ul.dropdown li {
  display: block;
}

.cart a {
  font-size: 26px;
  font-weight: 500;
}

.menu-content {
  height: 50px;
}

.main-container {
  padding: 2rem 10rem;
}
.see-all{
    font-size: .7em;
    text-decoration: underline;
}
.off{
    background-color: #10B518;
    padding: 7px 15px;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;

}

.price span{
    font-size: 18px;
    font-weight: bold;
}

strike{
    font-size: 18px;
    font-weight: bold;
    color: #C4C4C4;
}

.imgHolder {
    position: relative;
}
.imgHolder span {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: #ff6158;
    color: #ffffff;
    padding: 5px;
}

.discount img{
    object-fit: cover;
    width: 100%;
}

.footer-content ul a{
    color: #ffffff;
}

.s-btn{
  background-color: #FFBD2E;
  color: black;
  outline-style: none;
  width: 75%;
  margin: 0 auto;
  font-weight: bold;
  
}

.s-btn2{
  background-color:white;
  border: 1px solid black ;
  color: white;
  outline-style: none;
  width: 75%;
  margin: 0 auto;
  font-weight: bold;
  
}

.s-btn3{
  background-color:white;
  border: 1px solid black ;
  color: black;
  outline-style: none;
  width: 75%;
  margin: 0 auto;
  font-weight: bold;
  
}

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #2E3D4E;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #ffffff;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #FF6158;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 100%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #ffffff;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #ffffff;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form .f-btn {
  position: absolute;
  right: 0;
  background: #FF6158;
  padding: 13px 20px;
  border: 1px solid #FF6158;
  top: 0;
  margin-top: 9px;
}
.subscribe-form .f-btn i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #ffffff;
padding: 20px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: black;
}
.copyright-text p a{
color: #FF6158;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #FF6158;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}